.breanna-yde {
  margin-top: 25px;
}

@media only screen and (min-width: 828px) {
  .breanna-yde {
    width: 808px;
  }
}

.line {
  content: '';
  display: block;
  width: 50px;
  margin: 70px auto 50px;
  background-color: #1C355B;
  height: 3px;
}
