<?xml version='1.0' encoding='utf-8'?>
<widget id="id.mercysmart.calongubernar" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CalonGubernur</name>
    <description>
        VR/AR App.
    </description>
    <author>
        CalonGubernar Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="www/img/logo.png" density="mdpi"/>
        <icon src="www/img/logo.png" density="hdpi"/>
        <icon src="www/img/logo.png" density="xhdpi"/>
        <icon src="www/img/logo.png" density="xxhdpi"/>
        <icon src="www/img/logo.png" density="xxxhdpi"/>
    </platform>         
</widget>
